body{
	background: linear-gradient(to bottom,
#FF4F00, #BF5D30)
}
a {
	color: #A63400;
}
ul{
	padding: 0;
	margin-left: 45%
}
h1{
	text-align: center;
	color: black;
}
.biography{
	margin-left: 0%;
	background: #FF9E73;
	text-align: center;
}
.hobbies{
	background: #FF9E73;
}
footer{

}